<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      <span>Education</span> Page
    </ion-title>
</ion-toolbar>

</ion-header>

<ion-content>

  <div class="ion-padding-horizontal">
    <h4 class="p-4">Module<span> for family and community</span></h4>
    
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-card color="dark">
            <ion-card-content>
              <ion-button size="small" class="fr" (click)="bukaPromosi()">Baca</ion-button>
              <div class="title">
                <h3>Kehamilan dengan resiko tinggi</h3>
                <p>by Ika Mardiyanti, SST, M.Kes</p> 
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <h4 class="p-4">Module<span> for health workers</span></h4>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-card color="primary">
            <ion-card-content>
              <ion-button size="small" color="dark" class="fr" (click)="bukaPromosi()">Baca</ion-button>
              <div class="title">
                <h3>Deteksi dini kehamilan resiko tinggi</h3>
                <p>by Ika Mardiyanti, SST, M.Kes</p> 
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <h4 class="p-4">Educational<span> articles</span></h4>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-card color="dark" (click)="bukaPromosi()">
            <ion-card-content>
              <div class="title">
                <ion-icon name="book-outline" class="fl"></ion-icon>
                <h2>Artikel 1</h2>
                <ion-icon name="chevron-forward-outline" class="fr icon-go"></ion-icon>
                <p>Rincian lebih lanjut</p> 
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-card color="dark" (click)="bukaPromosi()">
            <ion-card-content>
              <div class="title">
                <ion-icon name="book-outline" class="fl"></ion-icon>
                <h2>Artikel 2</h2>
                <ion-icon name="chevron-forward-outline" class="fr icon-go"></ion-icon>
                <p>Rincian lebih lanjut</p> 
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-card color="dark" (click)="bukaPromosi()">
            <ion-card-content>
              <div class="title">
                <ion-icon name="book-outline" class="fl"></ion-icon>
                <h2>Artikel 3</h2>
                <ion-icon name="chevron-forward-outline" class="fr icon-go"></ion-icon>
                <p>Rincian lebih lanjut</p> 
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-card color="dark" (click)="bukaPromosi()">
            <ion-card-content>
              <div class="title">
                <ion-icon name="book-outline" class="fl"></ion-icon>
                <h2>Artikel 4</h2>
                <ion-icon name="chevron-forward-outline" class="fr icon-go"></ion-icon>
                <p>Rincian lebih lanjut</p> 
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-card color="dark" (click)="bukaPromosi()">
            <ion-card-content>
              <div class="title">
                <ion-icon name="book-outline" class="fl"></ion-icon>
                <h2>Artikel 5</h2>
                <ion-icon name="chevron-forward-outline" class="fr icon-go"></ion-icon>
                <p>Rincian lebih lanjut</p> 
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <br>

  </div>

</ion-content>
